.about-article {
  margin-top: 6rem;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.about-info-text {
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  width: 50%;
}

.about-info-text p {
  margin-bottom: 1rem;
}

/* IMAGE STUFF */

@media only screen and (max-width: 1000px) {
  .about-info-text {
    width: 100%;
    margin-top: 2rem;
}
}

@media only screen and (max-width: 765px) {
  .me-img-div {
    margin-bottom: 2rem;
    width: 60%;
    height: auto;
  }

  .me-img-div img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .me-img-div {
    margin-bottom: 2rem;
    width: 80%;
    height: auto;
  }

  .me-img-div img {
    width: 100%;
  }
}