.line-container {
  display: inline-flex;
  width: 18rem;
}

.line {
  background-color: var(--secondary-accent);
  margin-bottom: 12px;
  margin-left: 10px;
  height: 1px;
  display: inline-block;
  align-self: center;
  flex-grow: 1;
}