.other-projects-folder {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-accent);
  border-radius: 5px;
  margin: 1rem;
  padding: 10px;
  padding-top: 15px;
  z-index: 1;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease-out;
}

.other-projects-folder:hover {
  transform: translate(0, -10px);
  box-shadow: none;
}

.other-projects-folder h4 {
  color: var(--main-accent);
}

.other-link {
  flex: 1;
}

.other-projects-header {
  display: flex;
  justify-content: space-between;
}

.other-projects-header i {
  color: var(--main-accent);
  font-size: 25px;
  margin-left: 10px;
}

.other-projects-header i:hover {
  color: var(--secondary-accent);
}

.other-projects-header a {
  text-decoration: none;
}

.techUsed-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 400px) {
  .techUsed-container p {
    margin-right: .25rem;
  }
}

@media only screen and (min-width: 750px) {
  .other-projects-folder {
    max-width: 28rem;
  }
}
@media only screen and (max-width: 750px) {
  .other-projects-folder {
    max-width: 90%;
  }
}