.project-container {
  margin: 0 auto;
  margin-bottom: 13rem;
  display: flex;
}

.project-info {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: fadeInRight;
  animation-duration: 1s;
}

.project-title {
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 0.5em;
  color: var(--main-accent);
  display: inline-block;
}

.tech-used {
  color: var(--main-accent);
  font-family: var(--title-font);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
}

.tech-used-items {
  display: flex;
  flex-wrap: wrap;
}

.tech-used-items p {
  margin-right: .25rem;
}

.project-buttons-container {
  display: flex;
  margin-top: .5rem;
  /* gap: 1rem; */ 
}

.github-link a {
  margin-right: 1rem;
}

.site-link a {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
  }

  .project-info {
    margin-top: 2rem;
    margin-left: 1em;
  }
}

@media only screen and (max-width: 650px) {
  .project-title {
    margin-bottom: 5px;
  }
}
