.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 0.8;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--secondary-color) transparent transparent transparent;
}

.skills {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.skill-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.skill-icon {
  width: 60px;
  height: auto;
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
  .skills {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .skill-icon-container {
    width: 100%;
  }
}
