.social-nav {
  display: flex;
  position: fixed;
  bottom: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
  font-size: 30px;
}
.social-nav a {
  color: var(--main-accent);
}

.social-nav a:hover {
  color: var(--secondary-accent);
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  color: var(--main-accent);
  font-size: 40px;
}

.social-links a {
  color: var(--main-accent);
}

.social-links li {
  padding: 10px 0;
}
