:root {
    --primary-color: #EDEDED;
    --secondary-color: #2e2d2d;
    --main-accent: #295ea4;
    --secondary-accent: #F0A32F;
    --text-accent: #4d4d4d;
    --title-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Open Sans' , sans-serif;
    min-height: 100vh;
}

svg {
    font-size: 25px;
}

.social-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    padding-left: 10px;
    font-size: 30px;
}

.social-nav a {
    color: var(--main-accent);
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    color: var(--main-accent);
    font-size: 40px;
    
}

.social-links a {
    color: var(--main-accent);
}

.social-links li {
    padding: 10px 0;
}

a:hover {
    color: var(--secondary-accent);
}

.home-bg {
    background-size: cover;
    width: 100%;
    height:85vh;
}

.text-zone {
    margin-left: 3.5rem;
    padding-top: 10rem; 
    max-height: 90%;
    animation: fadeInUp;
    animation-duration: 1s;
    padding-bottom: 16rem;
}

.home-arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-arrow-container i {
    font-size: 50px;
    border-radius: 50%;
}

.home-arrow {
    cursor: pointer;
    text-align: center;
    color: var(--main-accent);
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

.home-arrow i {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-arrow:hover {
    color: var(--secondary-accent);
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 7rem;
    letter-spacing: 5px;
    color: var(--main-accent);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-family: var(--title-font);
}

.tech-used {
    color: var(--main-accent);
    font-family: var(--title-font);
}

h1 span {
    color: var(--main-accent);
    text-shadow: 1px 1px var(--secondary-accent), 
                2px 2px var(--secondary-accent), 
                3px 3px var(--secondary-accent);
}


.h1-period {
    color: var(--main-accent);
    text-shadow: 1px 1px var(--secondary-accent), 
                2px 2px var(--secondary-accent), 
                2px 2px var(--secondary-accent);
}

.orange-accent {
    color: var(--secondary-accent);
}


.h1-accent {
    color: var(--text-accent);
    letter-spacing: .3em;
    font-size: 20px;
}

/* ANIMATED TEXT STYLES */

.typeText {
    display: inline-block;
}

.typeText::after {
    content: "_";
    animation: none;
    color: var(--secondary-accent);
}

.showAnim.typeText::after {
    animation: blink 1s step-end infinite;
}

.accent-1 {
    letter-spacing: .15em;
}

.accent-2 {
    font-size: 25px;
}

.h1-accent span {
    color: var(--secondary-accent)
}
/* ////////////// */

.contact-button a {
    color: var(--primary-color);
}

.contact-button:hover a{
    color: var(--main-accent);
}

main {
    margin-top: 10rem;
}

.card {
    animation: fadeInDown;
    animation-duration: 1s;
    background-color: #181818;
}

.btn {
    background-color: var(--main-accent);
    border: 1px solid var(--main-accent);
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:focus ,
.btn:hover {
    background-color: var(--secondary-accent);
    border: 1px solid var(--secondary-accent) !important;
    color: var(--primary-color) !important;
    box-shadow: none !important;
}

.btn:after {
    background-color: var(--main-accent);
    border: 1px solid var(--main-accent);
    color: var(--primary-color);
}

.card {
    margin-top: 1rem;
}

.card p {
    color: var(--text-accent);
}

.site-link {
    margin-left: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.card img {
    height: 200px;
}

#sideNav a {
    position: fixed; 
    left: -50px; 
    transition: 0.3s; 
    padding: 15px;
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    border-radius: 0 5px 5px 0; 
    text-align: end;
    color: var(--main-accent);
}

#sideNav svg:hover {
    color: var(--secondary-accent);
}

.home {
top: 20px;
background-color: var(--primary-color);
padding: 20px;
}


.about {
top: 140px;
background-color: var(--primary-color); 
}

.my-work {
top: 80px;
background-color: var(--primary-color);
}

.contact {
top: 200px;
background-color: var(--primary-color) 
}

.hide {
    display: none;
}

#my-work {
    padding-top: 150px;
    align-items: center;
}

.img-div {
    max-width: 500px;
    height: 270px;
    border-radius: 5px;
    animation: fadeInLeft;
    animation-duration: 1s;
    min-height: 270px;
    position: relative;
}

.img-div img {
    max-width: 500px;
    height: 100%;
    border-radius: 5px;
    animation: fadeInLeft;
    animation-duration: 1s;
    min-height: 270px;
    position: relative;
}

.img-border {
    border: 2px solid var(--secondary-accent);
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--secondary-accent);
}

.project-container {
    margin-bottom: 13rem;
}

.project-info {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation: fadeInRight;
    animation-duration: 1s;
}

.gh-portfolio-btn {
    margin-right: .5em;
}

.project-title {
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: .5em;
    color: var(--main-accent);
    display: inline-block;
}

#about {
    animation: fadeIn;
    animation-duration: 1s;
}

.about-title {
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: .5em;
    color: var(--main-accent);
    font-family: var(--title-font);
    text-align: center;
    display: inline-block;
}

.skills {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.skill-icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.skill-icon {
    width: 60px;
    height: auto;
    margin: 10px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    opacity: .80;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}

.tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color) transparent transparent transparent;
}

.line {
    background-color: var(--secondary-accent);
    width: 300px;
    margin-bottom: 12px;
    margin-left: 10px;
    height: 1px;
    display: inline-block;
    align-self: center;
}

.divider {
    color: var(--secondary-accent);
}

.about-article {
    margin-top: 6rem;
}

.about-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.about-info-text {
    display: flex;
    flex-direction: column;
    flex-grow: initial;
    width: 50%;
}

.me-img-div {
    width: 50%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    flex-grow: 2;
    position: relative;
}

.me-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    flex-grow: 2;
}

.me-img-border {
    border: 2px solid var(--secondary-accent);
    background-color: var(--secondary-accent);
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 7px;
    left: 10px;
    border-radius: 5px;
    z-index: -1;
}

#contact {
    text-align: center;
    padding-top: 60px;
    height: 14rem;
}

.contact-link {
    color: var(--main-accent);
}

.contact-link:hover {
    color: var(--secondary-accent);
    text-decoration: none;
}

.accent-2 {
    display: inline-block;
}

/* ANIMATED TEXT STYLING */

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}
/* /////////////// */

/* NAV HOVER EFFECTS ON DESKTOP ONLY */
@media(hover: hover) and (pointer: fine) {
    #sideNav a:hover {
        left: 0;
        }

    .nav-link:hover > span {
        display: block;
    }

    #sideNav a:hover {
        background-color: var(--primary-color);
        color: var(--secondary-accent);
    }

    .nav-link:hover > svg {
        display: none;
    }
}
/* /////////////// */

@media only screen and (max-width: 1000px) {
    .project-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .project-container {
        margin-left: 1em;
    }

    .project-info {
        margin-top: 2rem;
        margin-left: 2.25em;
    }

    #about {
        width: 85%;
    }

    .skills {
        margin-left: 0;
        margin-right: 0;
    }

    .about-info-text {
        width: 100%;
        margin-top: 3rem;
    }

    .my-work-title {
        width: 85%;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    #my-work {
        padding-top: 80px;
    }

}
@media only screen and (max-width: 650px) {
    #my-work {
        padding-top: 10px;
    }

    h1 {
        font-size: 4.5rem;
    }

    .text-zone {
        padding-top: 4rem;
    }

    .project-title {
        margin-bottom: 5px;
    }

    .about-title {
        margin-bottom: 5px;
    }

    .line {
        width: 85%;
        margin-left: 0;
    }

    .img-div {
        width: 85%;
    }

    .img-div img {
        width: 100%;
    }

    .skill-icon-container {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .text-zone {
        padding-left: 5rem;
    }
}