:root {
    --primary-color: #1D1D1D;
    --secondary-color: #EDEDED;
    --main-accent: #08FDD8;
    --secondary-accent: #FC0A55;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Open Sans' , sans-serif;
}

#nav-bar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 500px;
}

nav {
    display: flex;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-links {
    display: block;
}

a .social-links {
    display: block;
}

.text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 40%;
    max-height: 90%;
}