:root {
    --primary-color: #1D1D1D;
    --secondary-color: #EDEDED;
    --main-accent: #08FDD8;
    --secondary-accent: #FC0A55;
    --text-accent: #A5A5A5;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Open Sans' , sans-serif;
    min-height: 100vh;
}

#nav-bar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    text-align: center;
    background-color: #181818;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav a {
    display: block;
    margin-top: 15px;
    height: 50px;
    color: var(--text-accent);
}

svg {
    font-size: 25px;
}

.social-links {
    display: block;
    list-style: none;
    padding: 0;
    color: var(--text-accent);
}

.social-links a {
    color: var(--text-accent);
}

.social-links li {
    padding: 10px 0;
}

a:hover {
    color: var(--main-accent);
}

.text-zone {
    position: absolute;
    left: 10%; 
    /* MAKE 20% media query! */
    top: 30%;
    /* margin-left: 1.5rem; */
    margin-top: 5rem; 
    width: 40%;
    max-height: 90%;
    animation: fadeInUp;
    animation-duration: 1s;
}

h1 {
    font-size: 65px;
    font-weight: bold;
}

h1 span {
    color: var(--main-accent);
    text-shadow: 1px 1px var(--secondary-accent), 
                2px 2px var(--secondary-accent), 
                3px 3px var(--secondary-accent);
}


.h1-accent {
    color: var(--text-accent);
    letter-spacing: .4em;
}

/* button {
    background-color: var(--primary-color);
    border: 1px solid var(--main-accent);
    border-radius: 5%;
    color: var(--main-accent);
    padding: 5px 10px; 
    outline: none !important;
} */

button:hover {
    background-color: var(--main-accent);
    color: var(--primary-color);
}

main {
    margin-top: 10rem;
}

.card {
    animation: fadeInDown;
    animation-duration: 1s;
    background-color: #181818;
}

.btn {
    background-color: var(--main-accent);
    border: 1px solid var(--main-accent);
    color: var(--primary-color);
}

.btn:focus,
.btn:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--main-accent) !important;
    color: var(--main-accent);
    box-shadow: none !important;

}

.card p {
    color: var(--text-accent);
}

.site-link {
    margin-left: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.card img {
    height: 200px;
}

@media (max-width: 600px){
    .text-zone{
        left: 20%;
    }
}