:root {
    --primary-color: #1D1D1D;
    --secondary-color: #EDEDED;
    --main-accent: #1abcbc;
    --secondary-accent: #FC0A55;
    --text-accent: #b1b1b1;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Open Sans' , sans-serif;
    min-height: 100vh;
}

svg {
    font-size: 25px;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    color: var(--text-accent);
    font-size: 40px;
}

.social-links a {
    color: var(--text-accent);
}

.social-links li {
    padding: 10px 0;
}

a:hover {
    color: var(--main-accent);
}

.home-bg {
    background: 
    linear-gradient(180deg, 
    rgba(1, 1, 1, .42),
    #1D1D1D
    ),
    url('../images/coding-bg-7.png');
    background-image: linear-gradient(rgba(223, 223, 223, .12)),
    url('../images/coding-bg-7.png');
    background-size: cover;
    width: 100%;
}

.text-zone {
    margin-left: 3.5rem;
    padding-top: 10rem; 
    max-height: 90%;
    animation: fadeInUp;
    animation-duration: 1s;
    padding-bottom: 16rem;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 5px;
}

h1 span {
    color: var(--main-accent);
    text-shadow: 1px 1px var(--secondary-accent), 
                2px 2px var(--secondary-accent), 
                3px 3px var(--secondary-accent);
}

h2 span {
    color: var(--main-accent);
    text-shadow: 1px 1px var(--secondary-accent), 
                2px 2px var(--secondary-accent), 
                2px 2px var(--secondary-accent);
}

h3 span {
    color: var(--main-accent);
    text-shadow: 1px 1px var(--secondary-accent), 
                2px 2px var(--secondary-accent), 
                2px 2px var(--secondary-accent);
}


.h1-accent {
    color: var(--text-accent);
    letter-spacing: .4em;
}

.contact-button a {
    color: var(--primary-color);
}

.contact-button:hover a{
    color: var(--main-accent);
}

main {
    margin-top: 10rem;
}

.card {
    animation: fadeInDown;
    animation-duration: 1s;
    background-color: #181818;
}

.btn {
    background-color: var(--main-accent);
    border: 1px solid var(--main-accent);
    color: var(--primary-color);
}

.btn:focus ,
.btn:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--main-accent) !important;
    color: var(--main-accent) !important;
    box-shadow: none !important;
}

.btn:after {
    background-color: var(--main-accent);
    border: 1px solid var(--main-accent);
    color: var(--primary-color);
}

.card {
    margin-top: 1rem;
}

.card p {
    color: var(--text-accent);
}

.site-link {
    margin-left: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.card img {
    height: 200px;
}

#sideNav a {
    position: fixed; 
    left: -50px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    border-radius: 0 5px 5px 0; 
    text-align: end;
    color: var(--main-accent);

}

#sideNav a:hover {
left: 0;
}

.home {
top: 20px;
background-color: #181818;
padding: 20px;
}


.about {
top: 140px;
background-color: #181818; 
}

.my-work {
top: 80px;
background-color: #181818;
}

.contact {
top: 200px;
background-color: #181818 
}

.hide {
    display: none;
}

a:hover > span {
    display: block;
}

#sideNav a:hover {
    background-color: var(--main-accent);
    color: #181818 ;
}

a:hover > svg {
    display: none;
}

.img-div img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    animation: fadeInLeft;
    animation-duration: 1s;
}

.project-container {
    margin-bottom: 10rem;
}

.project-info {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation: fadeInRight;
    animation-duration: 1s;
}

.gh-portfolio-btn {
    margin-right: .5em;
}

.project-title {
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: .5em;
}

#about {
    animation: fadeIn;
    animation-duration: 1s;
}

.about-title {
    letter-spacing: 2px;
    /* font-size: 35px; */
    margin-bottom: .5em;
}

.about-article {
    margin-top: 6rem;
}

#contact {
    text-align: center;
    padding-top: 60px;
    height: 14rem;
}

.contact-link {
    color: var(--main-accent);
}

.contact-link:hover {
    color: var(--secondary-accent);
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .project-container img {
        width: 85%;
        margin-left: 2.25em;
    }

    .project-info {
        margin-top: 2rem;
        margin-left: 2.25em;
    }

    #about {
        width: 85%;
    }
}

@media only screen and (min-width: 600px) {
    .text-zone {
        padding-left: 5rem;
    }
}